.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;
    margin: 1vw;
    width: 20%;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 1px 1px 7px -4px rgba(0,0,0,0.75);
    text-decoration: none;
}

.card:hover{
    box-shadow: 0px 0px 8px 0px rgba(100, 100, 100, 0.75);
}

.credentials{
    display: flex;
    flex-direction: column;
}

.id{
    color: skyblue
}